<nav class="nav d-flex justify-content-center">
  <a class="brand" [routerLink]="['/']">El Tiempo</a>
</nav>
<div class="container mx-auto py-3">
  <app-search (submitted)="onSearch($event)"></app-search>
  <app-weather (cambio)="onSearch($event)" *ngIf="weather$ | async as weather; else errorBusqueda" [weather]="weather" [city]="city"></app-weather>
  <ng-template #errorBusqueda>
    <div class="card">
      <hr class="mx-2">
      <div class="card__error d-flex flex-column align-items-center">
        <div class="d-flex flex-wrap">
          <div class="d-flex flex-column align-items-center">
              <p class="text-danger">Error :</p>
              <p>{{errorText}}</p>
              <button class="m-3" (click)="recargar()">Recargar la página</button>
          </div>
        </div>
      </div>
      <hr class="mx-2">
    </div>
  </ng-template>
</div>
