@import "../sass/variables";
nav.nav {
  padding: 0.75rem 0.50rem;
  background-color: $primario;
  margin-bottom: 0.75rem;

  .brand {
    color: $white;
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 1.50rem;
  }
}
.card {
  background-color: $primario;
  margin-top: 2rem;
  padding-top: 2rem;
  border-radius: $border-radius-size;
  box-shadow: -0.063rem 1rem 1.875rem -1rem $black;
  hr {
    border: 1px solid $white;
    opacity: 1;
  }
  .card__error {
    padding: 0 1rem;
    color: $secundario;
    font-weight: 600;
    button{
      color: $primario;
      background-color: $favorite;
      border-radius: $border-radius-size;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

